<meta charset="UTF-8">
<title>Innovation Team Survey </title>
<link rel='shortcut icon' type='image/x-icon' href='views/images/inno.png' />
<!-- CSS (load bootstrap from a CDN) -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="layout/w3.css">
    <script src="layout/jquery.min.js"></script>
    <script src="layout/language.js"></script>
    <script src="src/submit.js"> </script>

