<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <div class="w3-container w3-blue w3-row">
    <div class="w3-col" style="width: 40%;">
      <h1>Survey of Innovation </h1>
    </div>
    <div class="w3-col" style="width: 40%;">
      <p> </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="w3-row">
    <div class="w3-col" style="width: 10%;"><p> </p></div>
    
    <div class="w3-col w3-row" style="width: 80%" id="questionSector">

      <div class="w3-border-bottom w3-row">
        <div class="w3-col w3-twothird">
          <label class="w3-xlarge">1. Do you like Innovation?</label>
        </div>

        <div class="w3-col w3-third"> 
          <label>
            <input class="w3-radio w3-border" type="radio" name="question-1" value="yes">
          Yes
          </label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <label>
            <input class="w3-radio w3-border" type="radio" name="question-1" value="no">
          No
          </label> 
        </div>
                   
      </div>
      <br>

      <div class="w3-border-bottom w3-row">
        <div class="w3-col w3-twothird">
          <label class="w3-xlarge">2. Have you participated in any Innovation activities? </label>
        </div>

        <div class="w3-col w3-third"> 
          <label>
            <input class="w3-radio w3-border" type="radio" name="question-2" value="yes">
          Yes
          </label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <label>
            <input class="w3-radio w3-border" type="radio" name="question-2" value="no">
          No
          </label> 
        </div>
                   
      </div>
      <br>

      <div class="w3-border-bottom w3-row">
        <div class="w3-col w3-twothird">
          <label class="w3-xlarge"> 3. Which activities you like most? </label>
        </div>

        <div class="w3-col w3-third"> 
          <select class="w3-select" name="question-3">
            <option value="Innovation Hour">Innovation Hour</option>
            <option value="Inno-Storm">Inno-Storm</option>
            <option value="Bike-Grapher">Bike-Grapher</option>
            <option value="BLateral Thinking Workshop">Lateral Thinking Workshop</option>            
          </select>        
        </div>
        <br> 
        <br>
      </div>
      <br>

      <div class="w3-border-bottom w3-row">
        <div class="w3-col w3-twothird">
          <label class="w3-xlarge">4. In your point of view, is Innovation Hour helpful for you? </label>
        </div>

        <div class="w3-col w3-third"> 
          <label onclick='$("#q4-bonus").hide()'>
            <input class="w3-radio w3-border" type="radio" name="question-4" value="yes">
          Yes
          </label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <label onclick='$("#q4-bonus").show()'>
            <input class="w3-radio w3-border" type="radio" name="question-4" value="no">
          No
          </label>
          <br> 
          <label id="q4-bonus" style="display: none;">
            If no, please let us know which points should be improved?
            <textarea type="text" name="question-4-1" class="w3-input w3-border" style="height: 100px;" onclick='$(this).val("")' placeholder="Your opinion..."></textarea>
          </label>
        </div>
                   
      </div>
      <br>

      <div class="w3-border-bottom w3-row">
        <div class="w3-col w3-twothird">
          <label class="w3-xlarge">5. In general, which is your expectation from Innovation Champion to support you in Innovation activities? </label>
        </div>

        <div class="w3-col w3-third"> 
            <textarea placeholder="Type here..." name="question-5" onclick='$(this).val("")' cols=30 rows=5></textarea>
        </div>
                   
      </div>
      <br>     
    
      <button class="w3-button w3-blue w3-block w3-xxlarge w3-hover-yellow" onclick="submitSurvey()" style="width: 100%">
      Submit
      </button>
    </div>

    <div class="w3-col" style="width: 10%;"> <p> </p></div>
  </div>

  <div id="success-display" class="w3-modal" style="display: none;">
    <div class="w3-modal-content w3-row">
      <header class="w3-container w3-teal"> 
        <span onclick='$("#success-display").hide()' 
        class="w3-button w3-display-topright w3-xxlarge w3-hover-black">&times;</span>
      </header>
        <h2 class="w3-green">Modal Header</h2>

    </div>
    <div class="w3-col" style="width: 10%;">
      <p> </p>
    </div>
      <button onclick='$("#success-display").hide(window.location.replace("thank"))' class="w3-button w3-blue w3-hover-yellow w3-col" style="width: 50%">OK</button>

      <div class="w3-col" style="width: 10%;">
      <p> </p>
    </div>
  </div>

<div id="error-display" class="w3-modal" style="display: none;">
    <div class="w3-modal-content w3-row">
      <header class="w3-container w3-red"> 
        <span onclick='$("#error-display").hide()' 
        class="w3-button w3-display-topright">&times;</span>
      </header>
        <h2 class="w3-red">Modal Header</h2>

    </div>
    <div class="w3-col" style="width: 10%;">
      <p> </p>
    </div>
      <button onclick='$("#error-display").hide()' class="w3-button w3-blue w3-hover-yellow w3-col" style="width: 50%">OK</button>

      <div class="w3-col" style="width: 10%;">
      <p> </p>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="w3-container w3-blue">
    <p> Innovation Champions </p>
  </div>
</body>
</html>
