<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <h1 class="w3-panel w3-green w3-border w3-round-xlarge"> Thank for taking part in this survey!</h1>
        <h1 class="w3-panel w3-green w3-border w3-round-xlarge"> Your contribution is appreciated!</h1>
        <a href="../">
            <button class="w3-button w3-blue w3-block w3-xxlarge w3-hover-yellow"  style="width: 100%">
            Back to the survey
          </button>            
        </a>

    </body>
</html>